<body>
    <div class="MyTxtContent">
        <h1><strong>What’s a Cryptocurrency</strong></h1>
        <p>It is mainly a new kind of currency, digital currency. It is based on the blockchain and securitized by cryptographie. It allows balance and transaction. Its control is completely decentralized and everyone can use it without limitation, generally with a software or online. It has a limited supply defined.
          </p>
        <h2><strong>Is it really a currency?</strong></h2>
        <p>A currency is now simply entries in a database. In the usual currency, you have also physical entries that are basically the coins. Those entries are made without certain conditions. In this sense, a cryptocurrency is a currency as Euro or Dollar without the physical entries. 
        </p>
        <h2><strong>Transaction &amp; confirmation</strong></h2>
        <p>Confirmation is the base of cryptocurrency and the most critical concept. Before the confirmation, a transaction can be forget but after it is set and totally irreversible. It will be added to list of at the chain of transaction, the blockchain. Each transaction is contained in a block and each block is a link in the chain. A block might contain multiple transactions. 
          </p>
        <h4><strong>Anonymity</strong></h4>
        <p>Those transactions are completely anonymous, the only visible parameter is the address and there is no connection with real world identity. 
          </p>
        <h4><strong>Global Network</strong></h4>
        <p>After the confirmation, the transaction is instantly sent to everyone connected to the blockchain. It is so repeated in multiple physical locations. This repetition is a key in the security of the blockchain; to hack it, you need to hack all the users
          </p>
        <h2><strong>What’s a miner</strong></h2>
        <p>Miner are the people responsible to confirm the transactions. It can be anyone connected to the blockchain. The miner uses a algorithm to encrypt the transaction and then add the link to the chain. For this job, the miner is rewarded usually by a percentage of the transaction.
          </p>
        <h2><strong>Is there future for cryptocurrencies?</strong></h2>
        <p>Everyday, new cryptocurrencies are created and old cryptocurrencies die. They all come with a project but a lot of them are not good enough. Only some of them will survive.
        Most of them are pumped and dumped by speculator and it is really difficult to know their real values. Now, a lot of people are attracted even banks and government by cryptocurrencies and for sure it will have an impact in the future, because this invention is huge but everyone should be really prudent putting his money inside.
          </p>
      </div>
</body>