<body>

    <div class="title">
      AboutUs
    </div>
    <div class="AboutUsContent">
        This website has been created by a young technology enthusiast engineer, <br>
        With the believe and the hope that blockchain can be part of the future. <br>
        This technology can be huge and influence the future of the computer science as well as other topics. <br>
        As the tip of the iceberg, cryptocurrency has to be now the proof of concept of blockchain. <br>
    </div>
  <div class="MyTeam">
    <div class="TeamMember">
        <img class="img-circle" src="../../assets/pictures/me.jpg">
        <br>
          Aurélien Gekiere
          <br>
          <a href="https://www.linkedin.com/in/aurelien-gekiere" target="_blank">
            <img class="icon-social-network" src="../../assets/pictures/linkedin.png">
          </a>
    </div>
  </div>
</body>
