<body>
  <div class="MyTxtContent">
  <h1><strong>What is Blockchain Technology? </strong></h1>
  <p>The blockchain is as most of you already known a (not so) new web technology. It is a new way to proceed to information. Utilizing blockchain, the information is distributed and not copied. Blockchain is not only for financial transaction but can be programmed to record every type of value!</p>
  <h2><strong>A network of nodes</strong></h2>
  <p>Each user connected and performing or validating task get a copy of the blockchain. Each user becomes a node and a an administrator of the blockchain. The copy of the blockchain is updated for every node if the same time.</p>
  <h2><strong>Blockchain Durability and robustness</strong></h2>
  <p>Blockchain lives thanks to its users and with consensus. Each transactions are referred as a block. Blockchain is a technology that put every users at the same level and that not allows human or machine error anymore. No transaction can be done without the agreement of both parties. All the transactions have a guarantee of the validation and are recorded on all the nodes.</p>
  <h2><strong>Transparent and incorruptible</strong></h2>
  <p>Having the data shared and available for each users make the blockchain incorruptible and transparent. Incorruptible because to hack it, the hacker needs to hack all the nodes of the blockchain and transparent because all the users have the complete blockchain available.</p>
  <h2><strong>The idea of decentralization</strong></h2>
  <p>As each user has his own copy of the blockchain there is not one version centralized of it.</p>
  <p>As each copy has the same value, the blockchain is not centralized but decentralized.</p>
  <h2><strong>How to use the Blockchain &amp; Enhanced security</strong></h2>
  <p>Each user has two keys, one public and one private. The public key is the &ldquo;address&rdquo; of the user in the blockchain and the private is what gives the access to the blockchain. This private key must be kept in a safe place.</p>
  <h2><strong>Where the blockchain can be useful</strong></h2>
  <ul>
  <h4><strong>Public interest</strong></h4>
  </ul>
  <p>Blockchain can allow fully transparent and public database. It can allow all the inhabitants to consult reports and result of public administrations</p>
  <ul>
  <h4><strong>Collaborative economy</strong></h4>
  </ul>
  <p>Uber and AirBnB&nbsp;</p>
  <ul><h4><strong>File storage &amp; Data Management</strong></h4>
  <h4><strong>Crowdfunding</strong></h4>
  <h4><strong>IoT</strong></h4>
  </ul>
  <ul>
  <h4><strong>Stock trading</strong></h4>
  </ul>
</div>
</body>
