.li{
  margin:0;
  padding:0;
  
  background-color: #ffaf66;
}

html,
body {
   margin:0;
   padding:0;
   height:100%;
   width: 100%;
   background-color: #ffaf66;
   display: block;
}
#container {
   min-height:100%;
   position:relative;
   background-color: #ffaf66;
}

#body {
  background-color: #ffaf66;
  padding-bottom:15px;   /* Height of the footer */
}
#footer {
   position:fixed;
   bottom:0;
   width:100%;
   height:15px;   /* Height of the footer */
}
