<body>
<div>
    <table class="MyTable">
        <tr class="BigPicRow">
          <th  class="BigPicColumn"><img class="BigPic" [src]="MyCrypto[0].picture" id="bigPic1" (click)="ClickPic(0)"></th>
          <th  class="BigPicColumn"><img class="BigPic" [src]="MyCrypto[1].picture" id="bigPic2" (click)="ClickPic(1)"></th>
          <th  class="BigPicColumn"><img class="BigPic" [src]="MyCrypto[2].picture" id="bigPic3" (click)="ClickPic(2)"></th>
        </tr>
    </table>
</div>

<br>

<br>

<br>

<br>

<h2>
  {{ActCrypto._name}} Simulation
</h2>

<p>

  <mat-form-field class="DateInput">
    <input id="StartDate" [(ngModel)]="ChoosenStartDate" matInput [min]="minDate" [max]="maxDate"
    [matDatepicker]="Startpicker" placeholder="Start Date">
    <mat-datepicker-toggle matSuffix [for]="Startpicker"></mat-datepicker-toggle>
    <mat-datepicker #Startpicker></mat-datepicker>
  </mat-form-field>


  <mat-form-field class="DateInput">
    <input id="EndDate" matInput [(ngModel)]="ChoosenEndDate" [min]="minDate" [max]="maxDate"
    [matDatepicker]="Endpicker" placeholder="End Date">
    <mat-datepicker-toggle matSuffix [for]="Endpicker"></mat-datepicker-toggle>
    <mat-datepicker #Endpicker></mat-datepicker>
  </mat-form-field>

  <br/>

  <mat-form-field class="FlatCurInput">
      <input matInput placeholder="Amount" [(ngModel)]="Amount">
  </mat-form-field>


  <mat-form-field class="FlatCurInput">
    <mat-select placeholder="Currency" [(ngModel)]="actCurrency">
        <mat-option *ngFor="let currency of fiatCurrency" [value]="currency.value">
          {{ currency.viewValue }}
        </mat-option>
    </mat-select>
  </mat-form-field>
</p>

<br>
<div class="MyButton">
  <button mat-raised-button (click)="CryptoSimulation()" class="SimulateButton">Simulate!</button>
</div>

</body>


